    *{
        margin: 0;
        padding: 0;
    }

    .container{
        margin: auto 10% 5% 10%;
        width: 80%;
        height: auto;
        font-family: 'Playfair Display';
    }

    .containernov{
        margin: auto 10% 5% 10%;
        width: 80%;
        height: auto;
        font-family: 'Playfair Display';
    }

    .titulos{
        font-family: 'Playfair Display';
        font-size:2.0rem;
        align-items: center;
    }
    .subtitulo{
        font-family: 'Playfair Display';
        font-style: italic;
        font-size:1.5rem;
        align-items: left;
        margin-left: 5%;
    }

    .container ul{
        margin-left: 10%;
        list-style: none;
    }

    .containernov ul{
        margin-left: 10%;
    }

    .cabecera{
        width: 100%;
        height: 35vh;
    }
    .cabeceraimg{
        background-image: url("pictures/header_index.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.4;
        width: 100%;
        height: 35vh;
        position: absolute;
    }
    .cabeceratxt{
        display: flex;
        flex-direction: column;
        position: absolute;
        justify-content: space-around;
        width: 100%;
        height: 35vh;
        right: 10%;
    }
    .cabeceratitle{
        font-size: 3.0rem;
        font-family: 'Anton', sans-serif;
        text-align: right;
    }

    .enlaces{
        list-style-type: none;
        width: 80%;
        margin: auto;
        text-align: center;
        font-size: 3rem;
        margin: 3rem auto 3rem;
        /* background: rgb(243, 235, 231); */
    }

    .enlaces li{
        display: inline;
        text-align: center;
        margin: 0 50px 0 0;
    }

    .enlaces li a{
        color: #550a46;
        text-decoration: none;

    }
    .enlaces a:hover {
        background-color: #9aceff;
        color: #000;
    }

    /*NUMERO EN PAGINA*/

    .fixed {
        position: fixed;
        bottom: 0;
        right: 0;
        width: 35%;
        height: 5rem;
        text-align: center;
        /* -webkit-transform: rotate(-90deg); */
        /*-moz-transform: rotate(-90deg);*/
    }   

    .textfixed{
        font-family: 'Playfair Display';
        font-size: 4rem;

    }

    .footer{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        height: 25vh;
        
        align-items: center;
    }

    .footercontent{
        width: 50%;
        height: 25vh;
    }

    .footercontent p{
        margin: 2rem 2rem 2rem 3rem;
    }

    .iconos{
        width: 50%;
        height: 25vh;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }

    .iconos li{
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;           
        /* text-decoration: none; */
        list-style-type: none;
    }
    .iconos img{                                 
        width: 10%;
    }

    .notas{
        width: 20%;
        font-family: 'Playfair Display';
        font-style: bold;
        font-size:1.2rem;
        text-align: center;

        background-color: darkkhaki;

    }