*{
    padding: 0;
    margin: 0;
}

html{
    font-size: 16px;
}

.cabecera{
    position: relative;
    width: auto;
    height: 75vh;
    background-image: url("pictures/header2.jpg"); 
}

.titulo{
    position: absolute;
    font-size: 5rem;
    top: 60%;
    right: 5%;
    text-align: right;
}

.contenido{
    margin:auto;
    margin-top: 10%;
    max-width: 80%;
    height: auto;
}

.contenido > p{
    font-size: 1.5rem;
    font-family: 'Playfair Display';
}

.contenido > h1{
    text-align: center;
    font-size: 40px;
    font-family: 'Work Sans';
}

.enlaces{
    list-style-type: none;
    width: 80%;
    margin: auto;
    text-align: center;
    font-size: 3em;
    margin-top: 2em;
}

 .enlaces li{
    display: inline;
    text-align: center;
    margin: 0 50px 0 0;
}

.enlaces li a{
    color: #550a46;
    /* background-color: cornflowerblue; */
    text-decoration: none;

}
.enlaces a:hover {
    background-color: #9aceff;
    color: #000;
    }

.footer{
        display: flex;
        /* margin:auto; */
        width: 100%;
        height: 25vh;
        background-color:rgb(235, 214, 214);
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
}

.footer img{
    /* align-items: center; */
    margin-left: 50%;
}
