*{
    padding: 0;
    margin: 0;
}

.cabecera{
    position: relative;
    width: auto;
    height: 75vh;
    background-image: url("pictures/header2.jpg"); 
}

.titulo{
    position: absolute;
    font-size: 5em;
    top: 60%;
    right: 5%;
    text-align: right;
}

.contenido{
    margin:auto;
    margin-top: 10%;
    max-width: 80%;
    height: 1000px;
}

.contenido > p{
    font-size: 20px;
    font-family: 'Playfair Display';
}

.contenido > h1{
    text-align: center;
    font-size: 40px;
    font-family: 'Work Sans';
}

.enlaces{
    list-style-type: none;
    width: 80%;
    margin: auto;
    text-align: center;
    font-size: 2em;
    margin-top: 2em;
}

 .enlaces li{
    display: inline;
    text-align: center;
    margin: 0 50px 0 0;
}

.enlaces li a{
    color: #550a46;
    /* background-color: cornflowerblue; */
    text-decoration: none;

}
.enlaces a:hover {
    background-color: #9aceff;
    color: #000;
    }